header {
    position: relative;
    width: 100%;
    height: 44px;
    background-color: black;
    color:grey;
}
@media (max-width: 920px){
    header{
        position: relative;
    }
}


.header__imgphone{
    position: absolute;
    top: 14px;
    left: 200px;
    height: 13.3px;
    width: 13.3px;
}
@media (max-width: 920px){
    .header__imgphone{
        position: absolute;
        left: 0;
    }
}

.header__contact {
    position: absolute;
    top: 14px;
    font-family: PT Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    padding-left: 230px;
}
@media (max-width: 920px){
    .header__contact{
        text-align: left;
        padding-left: 30px;
    }
}

.imgright{
    position: absolute;
    top: 13px;
    right: 315px;
    height: 13.3px;
    width: 13.3px;
}
@media (max-width: 920px){
    .imgright{
        display: none;
    }
}

.imgright__img2{
    position: absolute;
    top: 5px;
    left: -2px;
    height: 13.3px;
    width: 13.3px;
}

@media (max-width: 920px){
    .imgright__img2{
        display: none;
    }
}

.header__link{
    position: absolute;
    width: 107px;
    height: 16px;
    right: 200px;
    top: 14px;
}

@media (max-width: 920px){
    .header__link{
        position: absolute;
        right: 0;
    }
}

.header__link a{
    text-decoration: none;
    color: grey;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}